.navbar{
    background-color: black;
    color:white;
    font-size: 2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem 5rem;
    position: sticky;
    z-index: 1;
    flex-wrap: wrap;
}

.navbar .navlinks{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }